:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --default-color: #272142;
  --default-color-light: rgba(39, 33, 66, 0.7);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.page {
  padding: 20px;
}
nav {
  padding: 20px 0;
}
nav img {
  max-height: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
  line-height: 40px;
}
nav li {
  margin-left: 15px;
  display: inline;
  text-decoration: none;
  list-style: none;
  /* color: var(--default-color-light); */
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
nav a {
  text-decoration: none;
  color: var(--default-color-light);
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
h1,
h2,
h3 {
  color: #000000;
  font-family: var(--heading-font-family);
  font-weight: 700;
}
h1 {
  font-size: 96px;
  line-height: 128px;
}
h2 {
  font-size: 64px;
  line-height: 86px;
}
h3 {
  font-size: 48px;
  line-height: 64px;
}
h4,
h5 {
  color: #000000;
  font-family: var(--default-font-family);
  font-weight: 700;
}
h4 {
  font-size: 36px;
  line-height: 54px;
}
h5 {
  margin: 15px;
  font-size: 24px;
  line-height: 36px;
}
p,
small {
  color: var(--default-color);
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  padding: 100px 20px;
  text-align: center;
}
.hero p {
  font-size: 24px;
  line-height: 36px;
}
.btn-branding {
  padding: 18px 30px;
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #ffffff;
  transition: all 100ms ease-in-out;
}
.title-section {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 30px 0;
  padding: 20px;
}
.col-md,
.col-sm,
.col {
  margin: auto;
}
.btn-detail {
  margin: 20px 0;
  padding: 18px 30px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--branding-color);
  text-align: center;
  transition: all 100ms ease-in-out;
}
.row-project {
  margin: 70px 5px;
}

.about {
  padding: 20px 20px;
}

.about-headline {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}
.about-text {
  color: var(--default-color-light);
}

.hero-photo {
  border-radius: 20px;
}
.heading-work {
  padding: 60px 40px;
}
.row-work {
  margin: 0 15px;
  text-align: center;
}
.row-work p {
  font-size: 14px;
  line-height: 21px;
  color: var(--default-color-light);
}
.image-work {
  border-radius: 20px;
}
.container-contact {
  padding: 50px 20px;
  text-align: center;
}
.container-contact a {
  font-family: var(--default-font-family);
  text-decoration: none;
  color: var(--default-color);
}
.container-contact a:hover {
  color: var(--branding-color);
}
.inquiry {
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
footer p {
  color: var(--default-color-light);
  font-size: 18px;
  line-height: 27px;
}
.footer-contact {
  text-align: center;
}
footer a {
  text-decoration: none;
  color: var(--default-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
footer a:hover {
  color: var(--branding-color);
}
.fa-brands {
  text-decoration: none;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  border-radius: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding: 15px;
  margin: 15px;
}
.fa-brands:hover {
  color: var(--default-color-light);
}
.fa-facebook-f {
  padding: 15px 18px;
}
.author,
.author p,
.author a {
  font-size: 10px;
  text-align: center;
}
@media (max-width: 600px) {
  h1 {
    font-size: 64px;
    line-height: 84px;
  }
  h2 {
    font-size: 44px;
    line-height: 86px;
  }
  h3 {
    font-size: 36px;
    line-height: 64px;
  }
  .row-project {
    margin: 50px 5px;
  }
  .about-section,
  .row-project,
  .row-work {
    text-align: center;
    margin: 0;
  }
  nav li {
    margin-left: 5px;
    font-size: 10px;
  }
  footer a {
    font-size: 14px;
    line-height: 20px;
  }
  footer .btn-branding {
    margin: 15px;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 50px;
    line-height: 70px;
  }
  h2 {
    font-size: 34px;
    line-height: 46px;
  }
  h3 {
    font-size: 24px;
    line-height: 34px;
  }
  h4 {
    font-size: 36px;
    line-height: 54px;
  }
  h5 {
    margin: 15px;
    font-size: 24px;
    line-height: 36px;
  }
  .row-project {
    margin: 50px 5px;
  }
  .about-section,
  .row-project,
  .row-work {
    text-align: center;
    margin: 0;
  }
  nav li {
    margin-left: 5px;
    font-size: 10px;
  }
  footer a {
    font-size: 14px;
    line-height: 20px;
  }
  footer .btn-branding {
    margin: 15px;
  }
  .fa-brands {
    margin: 5px;
  }
  .btn {
    font-size: 10px;
  }
}
